<div class="container ">

    <div class="row">
        <div class="col">
            <div class="card col-12 p-2 ">
                <img src="/assets/propic.jpg" alt="" height="100px" width="100px" class="p-2 border shadow">
                <div class="container mt-2">
                    <h4>Mariah Caraiban
                        Owner at Our Company, Inc.</h4>
                    <p>Ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                        dolores
                        eos qui ratione voluptatem sequi nesciunt.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, adipisci? Saepe quasi eum beatae
                        distinctio, quam itaque sunt ipsa,
                        obcaecati nemo quidem sed necessitatibus. Harum libero quas quasi dolor minima!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium omnis nobis voluptates
                        voluptatum itaque autem, totam beatae eius similique harum error magnam, aperiam pariatur quia
                        voluptatem id laboriosam dolores non!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, dolores? Consequuntur non,
                        est veniam odit eaque possimus id cumque doloremque iusto eligendi animi eius placeat enim
                        commodi quidem iste voluptate.</p>
                </div>
            </div>
        </div>
        <!-- <div class="col-1"></div> -->

        <div class="">
            <mat-tab-group>
                <mat-tab label="First">
                    <h3>About</h3>
                    <div class="row">
                        <div class="col-6">
                            <p><strong>First Name</strong>:Mariah</p>
                            <p><strong>Last Name</strong>:Caraiban</p>
                            <p><strong>City</strong>:Los Angeles</p>
                            <p><strong>Email</strong>:mariah@Vendroid.com</p>
                        </div>
                        <div class="col-6">
                            <p><strong>Country</strong>:United States</p>
                            <p><strong>Birthday</strong>:Jan 22, 1984</p>
                            <p><strong>Interests</strong>:Basketball, Web, Design, etc.</p>
                            <p><strong>Phone</strong>:+1-234-56781</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6" style="list-style-type: circle;">
                            <h2>EXPERINCE</h2>
                            <li style="list-style-type: circle;">Owner at Vendroid Ltd.
                                March 2013 ~ Now</li>
                            <li style="list-style-type: circle;">Owner at Vendroid Ltd.
                                March 2013 ~ Now</li>
                            <li style="list-style-type: circle;">Owner at Vendroid Ltd.
                                March 2013 ~ Now</li>
                            <li style="list-style-type: circle;">Owner at Vendroid Ltd.
                                March 2013 ~ Now</li>
                        </div>
                        <div class="col-6" style="list-style-type: circle;">
                            <h2>EDUCATION</h2>
                            <li style="list-style-type: circle;">Bachelor's degree, E-Commerce/Electronic Commerce at
                                UCLA
                                August 2003 ~ July 2008
                            </li>
                            <li style="list-style-type: circle;"> Student at Web Design Education
                                March 2006 ~ February 2007
                            </li>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6"><h2>ACTIVITY</h2>
                        <div>
                            <p><i class="fa fa-suitcase" aria-hidden="true" style="color:green"> </i> Someone has give you a surprise
                                ~ 12 Minutes Ago</p>
                        </div>
                        <div>
                            <p><i class="fa fa-cogs" aria-hidden="true"  style="color:red"></i>Someone has give you a surprise
                                ~ 12 Minutes Ago</p>
                        </div>
                        <div>
                            <p><i class="fa fa-address-card-o" aria-hidden="true" style="color:orangered"></i> Someone has give you a surprise
                                ~ 12 Minutes Ago</p>
                        </div>
                        <div>
                            <p><i class="fa fa-user" aria-hidden="true" style="color:blue"></i> Someone has give you a surprise
                                ~ 12 Minutes Ago</p>
                        </div>
                        </div>
                        <div class="col-6"><h2>SKILL</h2>
                            <p class="progressive-bar"><i class="fa fa-suitcase" aria-hidden="true" style="color:green"> </i> Angular</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                aria-valuemin="0" aria-valuemax="100" style="width:90%">
                                  <span class="sr-only">90% Complete</span>
                                </div>
                              </div>
                            <p><i class="fa fa-suitcase" aria-hidden="true" style="blue:blue"> </i> HTML</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="70"
                                aria-valuemin="0" aria-valuemax="100" style="width:80%">
                                  <span class="sr-only">70% Complete</span>
                                </div>
                              </div>
                            <p><i class="fa fa-suitcase" aria-hidden="true" style="color:red"> </i> BOOtsrap</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-secondary" role="progressbar" aria-valuenow="70"
                                aria-valuemin="0" aria-valuemax="100" style="width:75%">
                                  <span class="sr-only">75% Complete</span>
                                </div>
                              </div>
                            <p><i class="fa fa-suitcase" aria-hidden="true" style="color:black"> </i> Css</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-muted" role="progressbar" aria-valuenow="70"
                                aria-valuemin="0" aria-valuemax="100" style="width:80%">
                                  <span class="sr-only">80% Complete</span>
                                </div>
                              </div>
                            <p><i class="fa fa-suitcase" aria-hidden="true" style="color:orangered"> </i> javascript</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="70"
                                aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                  <span class="sr-only">70% Complete</span>
                                </div>
                              </div>
                            <p><i class="fa fa-suitcase" aria-hidden="true" style="color:pink"> </i> Nodejs</p>
                            <div class="progress ">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70"
                                aria-valuemin="0" aria-valuemax="100" style="width:80%">
                                  <span class="sr-only">80% Complete</span>
                                </div>
                              </div>


                            
                            <!-- <div style="width: 50%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" role="progressbar" class="progress-bar progress-bar-warning "> <span class="sr-only">50% Complete</span> </div> -->
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Second">
                    <div class="text-center auto-mx">
                        <img src="/assets/premade.gif" alt="" style=width:30%;>
                    <h1 class="auto-mx text-dark">No Data....</h1>
                    </div>
                </mat-tab>
                <mat-tab label="Third"> 
                    <div class="text-center auto-mx">
                        <img src="/assets/premade.gif" alt="" style=width:30%;>
                    <h1 class="auto-mx text-dark">No Data....!!</h1>
                    </div> </mat-tab>
            </mat-tab-group>



        </div>
    </div>
</div>