<nav class="navbar  navbar-expand-sm navbar-dark bg-dark">
<a class="navbar-brand">
<h4>AdminDashboard</h4>
</a>
<button class="navbar-toggler" data-toggle="collapse" data-target="#x">
  <span class="navbar-toggler-icon"></span>
</button>
<div id="x" class="collapse navbar-collapse text-right">
<ul class="navbar-nav ml-auto">
<li class="nav-item ">
  <a class="nav-link" routerLink="home">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link" routerLink="admin">admin</a>
</li>
<!-- <li class="nav-item">
  <a class="nav-link" routerLink="">AboutUs</a>
</li>
<li class="nav-item">
  <a class="nav-link" routerLink="">ContactUs</a>
</li> -->
</ul>
</div>
</nav>

<router-outlet></router-outlet>

